@media (min-width: 780px) {
    .footer{
        .footerCont{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            .redes{
                display: flex;
                width: 200px;
                justify-content: space-evenly;
                .instagram{
                    width: 60px;
                    height: 60px;
                    &:hover{
                        width: 75px;
                        height: 75px;
                    }
                }
                .facebook{
                    width: 60px;
                    height: 60px;
                    &:hover{
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }
    }
}    