@media (min-width: 780px) {
    .main{
        .section1{
            .banner{
                height: 600px;
            }
            .nombre{
                margin-top: -100px;
            }
        }
        .section2{
            .parrafoIntro{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 15px;
                margin-right: 15px;
        
                .intro{
                    @include estiloParrafo (30px);
                }
                .imgIndex{
                    height: 400px;
                    width: 600px;
                }
            }
        }
    }
}