@media (min-width: 780px) {
    .main{
        .infoPromos{
            .titulosPr{
                @extend %estiloTituloPages;
            }
            .promoFacial{
                height: 100px;
                .tituloPromoParrafo{
                    color: grey;
                    font-size: 30px;
                    text-align: center;
                }
                .promoParrafo{
                    color: $colorFuente;
                    font-size: 25px;
                    text-align: center;
                }
            }
            .promoBancaria{
                height: 100px;  
                .tituloPromoBancaria{
                    color: grey;
                    font-size: 30px;
                    text-align: center;
                }
                .parrafoBancaria{
                    color: $colorFuente;
                    font-size: 25px;
                    text-align: center;
                }
                .iconosBancaria{
                    display: flex;
                    justify-content: space-evenly;
                }
            }
            .promoSemanal{
                height: 100px;
                .promoTituloSemanal{
                    color: grey;
                    font-size: 30px;
                    text-align: center;
                }
                .parrafoSemanal{
                    color: $colorFuente;
                    font-size: 25px;
                    text-align: center;
                }
                .botonPromos{
                    @extend %boton;
                }
            }
            
        }
    }
}