@media (min-width: 780px) {
    .container{
    margin: 0;
    max-width: 3000px;    
    .main{
            .gridContainerShop{
                .contenedorMerc{
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    
                }
            }
        }           
    }    
}    
