@media (min-width: 780px) {
    .main{
        .tratamientos{
            display: flex;
            height: 800px;
            flex-direction: column;
            justify-content: space-around;
            h3{
                font-size: 30px;
            }
            .tratamientosFaciales{
                @include estiloTratamientos (row);
                align-items: center;
                .infoFacial{
                    display: block;
                    width: 400px;
                    font-size: 25px;
                    color: $colorFuente;
                    text-align: center;
                }
                .imgFacial{
                    height: 200px;
                }
            }
            .tratamientosCorporales{
                @include estiloTratamientos (row);
                align-items: center;
                .infoCorp{
                    display: block;
                    width: 400px;
                    font-size: 25px;
                    color: $colorFuente;
                    text-align: center;
                }
                .imgCorp{
                    height: 200px;
                }
            }
            .otrosTratamientos{
                @include estiloTratamientos (row);
                align-items: center;
                .infoOtro{
                    display: block;
                    width: 400px;
                    font-size: 25px;
                    color: $colorFuente;
                    text-align: center;
                }
                .imgOtro{
                    height: 200px;
                }
            }
        }
    }
}