@media (min-width: 780px) {
    .main{
        .tratamientos{
            display: flex;
            height: 800px;
            flex-direction: column;
            justify-content: space-around;
            h3{
                font-size: 30px;
            }
            .tratamientosFaciales{
                border: 1px solid whitesmoke;
                box-shadow: 0px 0px 30px -15px;
                width: 1000px;
                height: 400px;
                margin-top: 15px;
                margin-bottom: 15px;
                background: whitesmoke;
                border-radius: 30px;
                @include estiloTratamientos (row);
                .infoFacial{
                    display: block;
                    width: 400px;
                    font-size: 25px;
                    color: $colorFuente;
                    text-align: center;
                }
                .imgFacial{
                    .fotoFacial{
                        height: 200px;
                    }
                }
            }
            .tratamientosCorporales{
                border: 1px solid whitesmoke;
                box-shadow: 0px 0px 30px -15px;
                width: 1000px;
                height: 400px;
                margin-top: 15px;
                margin-bottom: 15px;
                background: whitesmoke;
                border-radius: 30px;
                @include estiloTratamientos (row);
                align-items: center;
                .infoCorp{
                    display: block;
                    width: 400px;
                    font-size: 25px;
                    color: $colorFuente;
                    text-align: center;
                }
                .imgCorp{
                    .fotoCorp{
                        height: 200px;
                    }
                }
            }
            .otrosTratamientos{
                border: 1px solid whitesmoke;
                box-shadow: 0px 0px 30px -15px;
                width: 1000px;
                height: 400px;
                margin-top: 15px;
                margin-bottom: 15px;
                background: whitesmoke;
                border-radius: 30px;
                @include estiloTratamientos (row);
                align-items: center;
                .infoOtro{
                    display: block;
                    width: 400px;
                    font-size: 25px;
                    color: $colorFuente;
                    text-align: center;
                }
                .imgOtro{
                    .fotoOtro{
                        height: 200px;
                    }
                }
            }
        }
    }
}