%estiloTitulo{
    font-size: 30px;
    color: $colorFuente;
    text-align: center;
    margin-top: 50px;
}
%estiloTituloPages{
    color: $colorFuente;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
%estiloH3{
    color: $colorFuente;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

%tituloProducto{
    color: black;
    font-size: 20px;
    text-align: center;
}
%precioProducto{
    color: black;
    font-size: 15px;
    text-align: center;
}
%boton{
    background: #edede9;
    border-bottom: 5px solid #d6ccc2;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #999;
    color: grey;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;  
    font-family: 'Ibarra Real Nova', serif;
    font-size: 15px;
    height: 32px;
    padding: 20px 20px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 120px;
}
