%estiloTitulo{
    font-size: 30px;
    color: $colorFuente;
    text-align: center;
    margin-top: 50px;
}
%estiloTituloPages{
    color: $colorFuente;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
%estiloH3{
    color: $colorFuente;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}
%estiloTratamientos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
%tamanoTienda{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 500px;
    padding: 15px;
    background-color: white;
}
%tituloProducto{
    color: black;
    font-size: 20px;
    text-align: center;
}
%precioProducto{
    color: black;
    font-size: 15px;
    text-align: center;
}
%boton{
    text-decoration:none;
    display: flex;
    font-size: 15px;
    color:#b3aeb3;
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    background-color: #FFF7F2;
    border-color: rgb(179, 176, 176);
    border-style: solid;
    border-radius:35px;
    ;
}