@mixin estiloInfo ($sizeLetra) {
    display: block;
    width: 180px;
    font-size: $sizeLetra;
    color: $colorFuente;
    text-align: center;
}
@mixin estiloParrafo ($sizeLetra){
    font-size: $sizeLetra;
    color: $colorFuente;
    text-align: center;
    margin: 15px;
    margin-top: 15px;
}
 @mixin  tamanoTienda ($sizeAncho){
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: $sizeAncho;
        height: 500px;
        padding: 15px;
        background-color: white;
}
@mixin estiloTratamientos ($direccion){
    display: flex;
    flex-direction: $direccion;
    justify-content: space-around;
    align-items: center;
}
