.main{
    .sectionContacto{
        .form{
            width: 440px;
            height: 540px;
            background-color: #e6e6e6;
            border-radius: 8px;
            box-shadow: 0 0 40px -10px #000;
            margin:calc(50vh - 220px) auto;
            padding: 20px 20px;
            max-width:calc(100vw - 40px);
            box-sizing: border-box;
            .tituloCon{
                margin: 10px 0;
                padding: 10px;
                width: 180px;
                color: #78788c;
                border-bottom: 3px solid #78788c;
            }
            .parrafoForm{
                display: block;
                margin: 28px 0 0;
                font-size: 14px;
                color: #5a5a5a;
                &::before{
                    content: attr(type);
                }
                .input{
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    background: none;
                    outline: none;
                    resize: none;
                    border: 0;
                    transition: all .3s;
                    border-bottom: 2px solid #bebed2;
                    &:focus{
                        border-bottom: 2px solid #78788c;
                    }
                }
            }    
            .formBoton{
                float: right;
                padding: 8px 12px;
                margin: 8px 0 0;
                border: 2px solid #78788c;
                background: 0;
                color: #5a5a6e;
                cursor: pointer;
                transition: all .3s;
                &:hover{
                    background: #78788c;
                    color: #fff;
                }
            }
            .contForm{
                content: 'Hi';
                position: absolute;
                bottom: -210px;
                right: 10px;
                background: #50505a;
                color: #fff;
                width: 250px;
                padding: 16px 4px 16px 0;
                border-radius: 6px;
                font-size: 8px;
                box-shadow: 10px 10px 40px -14px #000;
                .fa-phone{
                    margin: 0 5px 0 15px;
                    .iconoForm{
                        height: 8px;
                        width: 8px;
                    }
                }
            }
        }
    }
}       
         




