.header{
    background-color:  $fondoPrimario;
    .navbar{
        background-color:  $fondoPrimario;
        padding: 0;
        .container-fluid{
            background-color:  $fondoPrimario;
            .navbar-brand{
                margin: 10px;
                padding: 10px;
                .logotipo{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .logo{
                        height: 100px;
                        width: 100px;
                    }
                    .tituloLogo{
                        font-size: 20px;
                        font-family: 'Ms Madi', cursive;
                        color: grey;
                    }    
                }
            }
            .navbar-collapse{
                justify-content: flex-end;
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            color: gray;
                            font-size: 20px;
                            &:hover{
                                color: rgb(77, 76, 76);
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}