.main{
    .infoPromos{
        .tituloPr{
            @extend %estiloTituloPages;
        }
        .proximamente{
            font-size: 20px;
            text-align: center;
            padding: 10px;
        }
    }
}