.main{
    .infoPromos{
        .titulosPr{
            @extend %estiloTituloPages;
        }
        .promoFacial{
            background: white;
            margin-left: 25px;
            margin-right: 25px;
            border-radius: 15px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            .tituloPromoParrafo{
                color: grey;
                font-size: 25px;
                text-align: center;
            }
            .promoParrafo{
                color: $colorFuente;
                font-size: 20px;
                text-align: center;
            }
        }
        .promoBancaria{
            background: white;
            margin-left: 25px;
            margin-right: 25px;
            border-radius: 15px;
            height: 170px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 20px;
            padding: 10px;
            .tituloPromoBancaria{
                color: grey;
                font-size: 25px;
                text-align: center;
            }
            .parrafoBancaria{
                color: $colorFuente;
                font-size: 20px;
                text-align: center;
            }
            .iconosBancaria{
                display: flex;
                justify-content: center;
            }
        }
        .promoSemanal{
            background: white;
            margin-left: 25px;
            margin-right: 25px;
            border-radius: 15px;
            height: 170px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 20px;
            align-items: center;
            padding: 10px;
            .promoTituloSemanal{
                color: grey;
                font-size: 25px;
                text-align: center;
            }
            .parrafoSemanal{
                color: $colorFuente;
                font-size: 20px;
                text-align: center;
            }
            .botonPromos{
                @extend %boton;
                margin-bottom: 5px;
                .suscripcion{
                    font-size: 15px;
                    text-decoration: none;
                    color: $colorFuente;
                }    
            }
        }
        
    }
}