.main{
    .gridContainerShop{
        .tituloTi{
            @extend %estiloTituloPages;
        }
        .contenedorMerc{
            display: flex;
            justify-content: space-between;
            padding: 15px;
            flex-direction: column;
            align-items: center;
            .desmaquillante{
                margin-top: 10px;
                @extend %tamanoTienda;
                .imgDes{
                    height: 300px;
                    width: 300px;
                }
                .infoDes{
                    .tituloProducto{
                        @extend %tituloProducto;
                    }
                    .precio{
                        @extend %precioProducto;
                    }
                    .boton{
                        @extend %boton;
                    }
                }
            }
            .exfoliante{
                margin-top: 10px;
                @extend %tamanoTienda;
                .imgEx{
                    height: 300px;
                    width: 300px;
                }
                .infoEx{
                    .tituloProducto{
                        @extend %tituloProducto;
                    }
                    .precio{
                        @extend %precioProducto;
                    }
                    .boton{
                        @extend %boton;
                    }
                }

            }
            .limpiador{
                margin-top: 10px;
                @extend %tamanoTienda;
                .imgLim{
                    height: 300px;
                    height: 300px;
                }
                .infoLim{
                    .tituloProducto{
                        @extend %tituloProducto;
                    }
                    .precio{
                        @extend %precioProducto;
                    }
                    .boton{
                        @extend %boton;
                    }
                }
            }
            .aguaMicelar{
                margin-top: 10px;
                @extend %tamanoTienda;
                .imgMicelar{
                    height: 300px;
                    height: 300px;
                }
                .infoMicelar{
                    .tituloProducto{
                        @extend %tituloProducto;
                    }
                    .precio{
                        @extend %precioProducto;
                    }
                    .boton{
                        @extend %boton;
                    }
                }
            }
            .gelExfoliante{
                margin-top: 10px;
                @extend %tamanoTienda;
                .imgGel{
                    height: 300px;
                    height: 300px;
                }
                .infoGel{
                    .tituloProducto{
                        @extend %tituloProducto;
                    }
                    .precio{
                        @extend %precioProducto;
                    }
                    .boton{
                        @extend %boton;
                    }
                }
            }
            .hialuronico{
                margin-top: 10px;
                @extend %tamanoTienda;
                .imgHial{
                    height: 300px;
                    height: 300px;
                }
                .infoHial{
                    .tituloProducto{
                        @extend %tituloProducto;
                    }
                    .precio{
                        @extend %precioProducto;
                    }
                    .boton{
                        @extend %boton;
                    }
                }
            }
            .mask{
                margin-top: 10px;
                @extend %tamanoTienda;
                .imgMask{
                    height: 300px;
                    height: 300px;
                }
                .infoMask{
                    .tituloProducto{
                        @extend %tituloProducto;
                    }
                    .precio{
                        @extend %precioProducto;
                    }
                    .boton{
                        @extend %boton;
                    }
                }
            }
            .protector50{
                margin-top: 10px;
                @extend %tamanoTienda;
                .imgP50{
                    height: 300px;
                    height: 300px;
                }
                .infoP50{
                    .tituloProducto{
                        @extend %tituloProducto;
                    }
                    .precio{
                        @extend %precioProducto;
                    }
                    .boton{
                        @extend %boton;
                    }
                }
            }
            .serum{
                margin-top: 10px;
                @extend %tamanoTienda;
                .imgSerum{
                    height: 300px;
                    height: 300px;
                }
                .infoSerum{
                    .tituloProducto{
                        @extend %tituloProducto;
                    }
                    .precio{
                        @extend %precioProducto;
                    }
                    .boton{
                        @extend %boton;
                    }
                }
            }
        }
    }
}