.main{
    .tituloTr{
        @extend %estiloTituloPages;
    }
    .tratamientos{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        h3{
            @extend %estiloH3;
        }
        .tratamientosFaciales{
            @include estiloTratamientos (column);
            .infoFacial{
                @include estiloInfo (20px);
            }
            .imgFacial{
                height: 150px;
            }
        }
        .tratamientosCorporales{
            @include estiloTratamientos (column);
            .infoCorp{
                @include estiloInfo (20px);
            }
            .imgCorp{
                height: 150px;
            }
        }
        .otrosTratamientos{
            @include estiloTratamientos (column);
            .infoOtro{
                @include estiloInfo (20px);;
            }
            .imgOtro{
                height: 150px;
            }
        }
    }
}